
* {
    padding: 0;
    margin: 0;
    border: 1px solid black;
    font-family: 'Public Sans', sans-serif;
    
}
body {
    font-size: 1.125rem;
    /* background-color: black; */
}
div.navbar, div.navbar > *{
    display: flex;
}

/* Navigation Bar  */
.hamburgermenu {
    /* display: none; */
    /* overflow: hidden; */
    /* visibility: hidden; */
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: 70px;
    align-items: center;
    background-color:hsl(0, 0%, 100%);
}

#navbtn {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    height: 100%;
    /* align-items: center; */
}

button > a {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    font-size: 1rem;
}

.nav {
    color: grey;
    text-decoration: none;
    padding: 22px 0;
    align-self: stretch;
}
.nav:hover {
    color: black;
}


.nav:hover::after {
    content: "";
    display: block;
    position:relative;
    height: 5px;
    background-image: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    top: 85%;    
    
}


.requestbtn input[type="button"] {
    background-image: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    /* font-size: 0.875rem; */
}

/* Section 1 */
@media only screen and (max-width: 604px) {
    body {
      background-color: lightblue;
      
      
    }
    .navbar {
        /* flex-direction: column; */
        /* overflow: hidden; */
        /* text-decoration: none; */
        font-size: 17px;
        /* height: auto; */
    }
    #navbtn {
        flex-direction: column;
        position: absolute;
        /* padding: 15px 0; */
        height: auto;
        top: 100px;
        width: 90%;
        background-color: white;
        border-radius: 10px;
    }
    .nav {
        
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 15px 0;
        
        /* justify-content: center; */
        /* align-items: center; */
        /* align-self:center; */
        /* margin: 5px 20px 0 20px; */
        /* height: 15px; */
        /* align-self:center; */
    }
    .requestbtn {
        position:absolute;
        bottom: 10px;
    }
    #logoimg {        
        display: flex;
        color: black;
        background-color:yellowgreen;
        justify-content:space-between;
        /* padding: 0 25px; */
        /* align-self: center; */
        width: 100%;
        /* height: 60px; */
    }
    .fa-bars {
        color: blanchedalmond;
        /* height: 20px; */
        /* width: 50px; */

    }
    /* #he {
        height: auto;
        width: auto;
    } */
    /* .hamburgermenu {
        display: block;
    } */
    /* #menu1 {
        display: block;
        align-items: right;
    } */
  }
