
* {
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
    font-family: 'Public Sans', sans-serif; 
}
body {
    font-size: 1.125rem;
    overflow-x: hidden;
}


/* Navigation Bar  */
#icon {
    display: none;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: 70px;
    align-items: center;
    background-color:hsl(0, 0%, 100%);
}

#navbtn {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    height: 100%;
}

button > a {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    font-size: 1rem;
}

.nav {
    color: grey;
    text-decoration: none;
    padding: 22px 0;
    align-self: stretch;
}
.nav:hover {
    color: black;
}


.nav:hover::after {
    content: "";
    display: block;
    position:relative;
    height: 5px;
    background-image: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    top: 85%;    
    
}


.requestbtn input[type="button"] {
    background-image: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
}
.requestbtn input[type="button"]:hover {
    background-image: linear-gradient(to right,hsla(136, 65%, 51%, 0.6), hsla(192, 70%, 51%, 0.6));
}


/* Section 1 */
.section1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #fafafa;
}

.s1div {
    height: 40vw;
}
#div1 {
    flex:2;
    padding: 0 0 0 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#div2 {
    flex:3;
    background-image: url("./images/bg-intro-desktop.svg");
    width: 50%;
    position: relative;
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 0 -20vw;
}

nav {
    position: relative;
    z-index: 3;
}
#backimg {
    width: 100%;
    height: auto;
    top:-135px;
    right: -10vw;
    background-position: left;
    overflow-x: hidden;
    position: relative;
}
#reqbutton2 {
    position: relative;
}


/* section 2 */
.section2 {
    display: flex;
    flex-direction: column;
    padding: 7vw;
    height: auto;
    background-color:  #f4f5f7;
}
#s2div1 {
    padding-right:35vw;
}
#s2div2 {
    display: flex;
    flex-direction: row;
}
.s2img {
    padding: 30px 0;
}


/* Section 3 */
.section3 {
    background-color: #fafafa;
}
#s3div2 {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    row-gap: 25px;
    /* flex-wrap: wrap; */
}

.articlediv {
    width: 18.75rem;
    height: auto;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
    align-self: auto;
}
.articlediv p,.articlediv h3 {
    padding: 10px 20px;
}
.articlediv img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


/* footer */
.footer {
    background-color: hsl(233, 26%, 24%);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footerdiv {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.footerdiv a:hover{
    color: hsl(136, 65%, 51%);
}
svg {
    fill: white;
}
svg:hover {
    cursor: pointer;
    fill: hsl(136, 65%, 51%);
}
.lastdiv {
    text-align: right;
    width: 40vw;
}
.lastdiv p {
    padding-bottom: 0px;
}
a {
    text-decoration: none;
    color: #fafafa;
}
.footerlogo img {
    color: white;
}

h1 {
    padding-bottom: 40px; 
    font-size: 2.7rem; 
    font-weight: 500;
}
h2 {
    padding-bottom: 30px;
    font-size: 2.1rem;
    font-weight: 500;
}
h3 {
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 25px;
}
p {
    line-height: 25px; 
    padding-bottom:30px; 
    padding-right: 5px;
    color: hsl(233, 8%, 62%);
}

@media only screen and (max-width: 1070px){
    h1 {
        font-size: 2rem;
        padding-bottom: 20px;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    p {
        font-size: 1rem;
        line-height: 18px;
        padding-bottom: 15px;
    }
    .requestbtn input[type="button"] {
        height: 30px;
        width: 100px;
        font-size: 0.7rem;
    }
    a {
        font-size: 0.9rem;
    }
    .s2img img {
        width: 50px;
        height: auto;
    }
    #s3div {
        flex-wrap: wrap;
    }
    

}

@media only screen and (max-width: 700px) {
    .navbar {
        font-size: 17px;
    }
    #navbtn {
        display: none;
        flex-direction: column;
        position: absolute;
        height: auto;
        top: 100px;
        width: 90%;
        background-color: white;
        border-radius: 10px;
        filter: drop-shadow(0 0 100px black);
    }
    .nav {
        
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 15px 0;
    }
    #reqbutthon1 {
        display: none;
    }
    #logoimg {        
        display: flex;
        color: black;
        justify-content:space-between;
        padding: 0 25px;
        width: 100%;
    }
    #icon {
        display: flex;
    }
    .section1 {
        flex-direction: column-reverse;
    }
    #div1 {
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0;
    }
    #div2 {
        display: flex;
        background-image: url("./images/bg-intro-mobile.svg");
        width: 100%;
        height: auto;
        background-size: cover;
    }
    #backimg {
        width: 100%;
        padding: 0 20px;
        right:0;
    }

    /* section 2 */
    #s2div1 {
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    #s2div2 {
        flex-direction: column;
    }
    .s2img {
        text-align: center;
        padding: 10px 0;
    }
    .s2img img {
        width: 25%;
        height: 25%;
    }

    /* section 2 */
    .section2 {
        padding: 12vw;
    }
    #s3div2  {
        flex-direction: column;
        width: 100%;
        row-gap: 30px;
    }
    .articlediv {
        width: 100%;
    }
    .articlediv p,.articlediv h3 {
        text-align: left;
    }
    p {
        text-align: center;
        padding-bottom: 20px;
        line-height: 25px;
        padding: 0 30px;
    }
    h1 {
        text-align: center;
        padding-bottom: 20px;
    }
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
        font-size: 1.2rem;
    }
    #reqbutton2 {
        padding-top: 30px;
        text-align: center;
    }
    .requestbtn input[type="button"] {
        height: 35px;
        width: 140px;
        font-size: 0.9rem;
    }
    /* remove the line effect from menu */
    .nav:hover::after{
        content: none;
    }
    /* footer section */
    .footer {
        flex-direction: column;
        text-align: center;
        height: auto;
        row-gap: 25px;
    }
    .footerdiv {
        row-gap: 15px;
    }
    .lastdiv {
        text-align: center;
        width: 100%;
    }
  }
